@use '@styles/mixins/fonts';
@use '@styles/variables/colors';

.wrapper {
  .container {
    cursor: pointer;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 16px;
    position: relative;

    height: 100%;
    padding-bottom: 20px;

    &:hover {
      .tagContainer {
        top: -50%;
      }

      .buttonDetails {
        bottom: 50%;
      }
    }
  }

  .tagContainer {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;

    z-index: 10;

    transition: top 0.4s cubic-bezier(0.58, 0.38, 0.55, 1.28);
  }

  .tag {
    float: left;

    margin-right: 8px;
    margin-bottom: 8px;
  }

  .buttonDetails {
    position: absolute;

    bottom: -20%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, 50%);

    z-index: 10;

    transition: bottom 0.4s cubic-bezier(0.58, 0.38, 0.55, 1.28);
  }

  .imageContainer {
    overflow: hidden;
    position: relative;

    border-radius: 8px;
    width: 100%;
    height: 208px;
    margin: 0;

    .image {
      width: 100%;

      object-fit: cover;
      object-position: center;

      border-radius: 8px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: colors.$background-light-gray-transparent;
    }
  }

  .cardName {
    @include fonts.font-ssp;
    @include fonts.h4;

    color: colors.$text-white;

    margin: 0;
    margin-top: 16px;
  }

  .cardDetails {
    @include fonts.font-ssp;
    @include fonts.body-2;

    color: colors.$text-light-dark;

    margin: 0;
    margin-top: 4px;
  }
  .cardGenres {
    @include fonts.body-2;

    color: colors.$text-white;

    margin-top: 4px;
  }
}
