@use '@styles/mixins/fonts';
@use '@styles/mixins/variants';
@use '@styles/mixins/styles';
@use '@styles/variables/colors';

.button {
  @include styles.reset-button;

  @include fonts.font-ssp;
  @include fonts.body-2;
  cursor: pointer;

  color: #abffce;

  display: flex;
  align-items: center;

  border: 1px solid #abffce;
  border-radius: 4px;
  gap: 10px;
  min-height: 56px;
  width: 192px;
  padding: 15.5px 32px;

  transition: background-color 0.2s ease;

  &:hover {
    background: #09bb53;
  }

  .text {
    margin: 0;
  }
}
