@use '@styles/variables/colors';

.header {
  background: colors.$background-gray-transparent;
  backdrop-filter: blur(12.5px);

  position: fixed;
  height: 56px;
  // max-width: calc(1920px - (2 * 72px));
  width: 100%;
}

.logoContainer {
  height: 100%;
  display: flex;
  align-items: center;
}
