// backgrounds
$background-primary: #f7f7f7;
$background-secondary: #fff;
$background-tertiary: #eff3f6;
$background-bage: rgba(3, 8, 13, 0.7);
$background-overlay: rgba(3, 8, 13, 0.5);
$background-ad: #fcddec;

// text/icons
$text-light-primary: #fff;
$text-light-secondary: rgba(255, 255, 255, 0.8);

$text-dark-primary: #15060d;
$text-dark-secondary: #5a6c7d;
$text-dark-tertiary: #96a3ae;

// accent/action
$accent-primary: #4963ee;
$accent-secondary: #f2539f;

$action-primary: #3e53c5;
$action-secondary: #15b471;

// effects
$shadow-light: rgba(33, 33, 33, 0.08);

// other
$separator: rgba(0, 26, 52, 0.08);
$dark-bg: #39404a;
