// backgrounds
$background-white: #fff;
$background-gray-transparent: rgba(255, 255, 255, 0.1);
$background-light-gray-transparent: rgba(35, 35, 35, 0.5);

// text/icons
$text-white: #fff;
$text-dark: #6f6f6f;
$text-light-dark: #a6a6a6;

// border
$border-white: #fff;

// other
$green-0: #abffce;
$green-500: #09bb53;
$orange: #de8b0f;
