@use '@styles/variables/colors';
@use '@styles/mixins/fonts';
@use "@styles/mixins/variants";

.tag {

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #FFFFFF;

  padding: 4px 8px;
  border-radius: 4px;

@include variants.variant('NEW') {
  background: #DE8B0F;
}

@include variants.variant('RATING') {
  background: #09BB53;
}

}